{% extends "base.html" %}

{% block style %}
<link href="/static/css/editor.css" rel="stylesheet" />
{% endblock %}

{% block body %}

{% include "header.html" %}

<!--<div class="alert alert-warning unpublished-warn">The exercise is now <b>unpublished</b>. Click on the "Publish" button to make it accessible again.</div>-->

<div class="exercise row">

    <!-- Meta-data about the exercise, to be used by JS -->
    <div id="exercise" data-id="{{exercise.id}}" data-boilerplate-code="{{exercise.boilerplate_code}}"
      {% if exercise.author == user %} data-reference-code="{{exercise.reference_code}}" 
      {% else %} data-submission-code="{{code}}"
      {% endif %} ></div>

    <div class="col-md-8">
        <!-- Text editor -->

        {% if exercise.author == user %}
          <ul class="nav nav-tabs">
            <li class="active"><a href="#reference-editor-tab" data-toggle="tab">Reference code</a></li>
            <li><a href="#exercise-editor-tab" data-toggle="tab">Exercice code</a></li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane active" id="reference-editor-tab">
              <div id="main-editor" class="code-area"></div>
            </div>

            <div class="tab-pane" id="exercise-editor-tab">
              <div id="exercise-editor" class="code-area"></div>
            </div>

          </div>

        {% else %}
          <div id="main-editor" class="code-area"></div>
        {% endif %}

        {% if exercise.author == user %}
        <button class="btn btn-submit pull-left" id="delete-button">Delete</button>
        <button class="btn btn-submit pull-right" id="publish-button">Publish</button>
        <button class="btn btn-submit pull-right" id="save-button">Save</button>
        {% endif %}
        <button class="btn btn-submit pull-right" id="test-button">Test</button>

    </div>

    <div class="col-md-4">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
          {% if exercise.author == user %}
          <li><a href="#tests" data-toggle="tab">Tests</a></li>
          {% endif %}
          <li><a href="#output" data-toggle="tab">Output</a></li>
        </ul>

        <!-- Tab panes -->

        <div class="tab-content">

          <div class="tab-pane active " id="description">

            <div class="panel panel-default">
              <div class="panel-heading" id="panel-title">
                <div class='row'>
                  <span class="badge coins pull-left">
                    <img src="/static/img/coin.png"/>
                    <span class="value">{{exercise.score}}</span><br>
                  </span>
                  <input type="tel" class="form-control hidden-input" id="score" value="{{exercise.score}}" placeholder="{{exercise.score}}">
                  <i id='score-check' class="hidden"></i>
                  <p class="panel-title title" id="exercise-title">{{exercise.title}}</p>
                  <input type="tel" class="form-control hidden-input" id="title-input" placeholder="Edit title">
                  <p class="glyphicon glyphicon-pencil"></p>
                </div>
              </div>
              <div class="panel-body">
              {% if exercise.author == user %}
                <input type="text" name="tags" placeholder="Add tags" class="tagsManager"/>
                <div class="description" id="description-editor"></div>
                <textarea id="description-editor-content" style="display:none">{{exercise.description}}</textarea>
              {% else %}
                <div class="description">{{exercise.description}}</div>
              {% endif %}
              </div>

              </div>
            </div>


          {% if exercise.author == user %}
          <div class="tab-pane tests" id="tests">

            <form id ="test-form" class="form-horizontal" role="form">
              <div class="form-group">
                <label for="test-input">Test input</label>
                <textarea class="form-control" id="test-input" name="test-input" rows="4" placeholder="Test input"></textarea>
              </diV>
              <div class="form-group">
                <label for="test-output">Test output</label>
                <textarea class="form-control" id="test-output" name="test-output" rows="4" placeholder="Test output"></textarea>
              </div>
              <div class="form-group">
                <button type="button" id="btn-add-test" class="btn btn-primary form-control">Add test</button>
              </div>
            </form>

            <ul class="tests-list" id="tests_placeholder">
              <!-- Populated by JS Handlebars -->
              Tests here
            </ul>
          </div>
          {% endif %}

          <div class="tab-pane output" id="output">
            No output
          </div>


        </div>


    </div>

</div>

<!-- Compilation / Execution output's template -->
{% raw %}
<script id="output-template" type="text/x-handlebars-template">
  {{#if compilation_error}}


    <h4>Compilation error</h4>
    <ul class="errors">
      {{#each errors}}
      <li class="alert label-danger">
          <span class="type">{{type}}</span> - <span class="line">{{row}}</span>:{{column}} - <span class="message">{{breaklines message}}</span>
      </li>
      {{/each}}
    </ul>
  {{else}}

    <h4>Test results</h4>
    <ul class="tests-output">
        {{#each test_results}}
        {{#if passed}}
          <li class="alert label-success">
            Test n&deg;{{@index}}: Passed in {{fixedDecimal cpu_time}} seconds.
          </li>
        {{else}}
          <li class="alert label-danger">
            Test n&deg;{{@index}}: {{report}}
          </li>
        {{/if}}

        {{/each}}
    </ul>

  {{/if}}

</script>
{% endraw %}

{% raw %}
<script id="tests-list-template" type="text/x-handlebars-template">
  {{#each tests}}
    <li class="test" data-test-id="{{_id.$oid}}">
      <div class="heading">
        <span class="test-id">Test {{@index}}</span>
        <span class="delete glyphicon glyphicon-remove"></span>
      </div>
      <div class="details">
        <ul class="list-group infos">
          <li class="list-group-item test-io">{{input}}</li>
          <li class="list-group-item test-io">{{output}}</li>
        </ul>
      </div>
    </li>
  {{/each}}
</script>
{% endraw %}

{% endblock body %}


{% block javascript %}
<script src="/static/js/ace/ace.js" type="text/javascript"></script>
<script src="/static/js/editor.js" type="text/javascript"></script>
<script src="/static/js/epiceditor.min.js" type="text/javascript"></script>
{% if exercise.author == user %}
<script src="/static/js/teacher-editor.js" type="text/javascript"></script>
{% else %}
<script src="/static/js/student-editor.js" type="text/javascript"></script>
{% endif %}

{% endblock %}
