{% extends "base.html" %}

{% block style %}
<link href="/static/css/editor.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="exercise row">

    <!-- Meta-data about the exercise, to be used by JS -->
    <div id="exercise" data-id="{{exercise.id}}" data-boilerplate-code="{{exercise.boilerplate_code}}" ></div>

    <div class="col-md-8">
        <!-- Text editor -->
        <div id="editor" class="code-area"></div>
        <button class="btn btn-submit pull-right">Test</button>
    </div>

    <div class="col-md-4">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
          <li><a href="#output" data-toggle="tab">Output</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div class="tab-pane active description" id="description">
{{exercise.description}}
          </div>

          <div class="tab-pane output" id="output">
            No output
          </div>

        </div>


    </div>

</div>

{% endblock body %}


{% block javascript %}
<script src="/static/js/ace/ace.js"></script>
<script src="/static/js/editor.js"></script>
{% endblock %}
