{% extends "base.html" %}

{% block style %}
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/editor.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include "header.html" %}

<h2>Exercises</h2>

<div class="col-md-4">
    <!-- Text editor -->
    <div class="form-group">
        <div class="well" style=\padding: 8px 0;>
            <form action="/searchByWords" method="post">
                <input type="text" class="form-control" id="parTags" placeholder="Search" name="search" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()">
                    <button type="submit" id="btnSearch" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="glyphicon-class"></span>
                        Submit
                    </button>
            </form>
            {% for tag in tags %}
            <li class="list-group-item">
                <a class="tag" href="/searchByTag/{{tag}}">
                    <span class="title">{{tag}}</span>
                </a>
                <span class="badge pull-right">42</span>
            </li>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-8">
    <!-- Tab panes -->
    <div class="tab-content">

        <ul class="exercises">
            {% for exercise in exercises %}

            <li>
                <span class="badge pull-left"><img src="/static/img/coin.png" width="20px"/>42</span>
                <a href="/exercise/{{exercise.id}}">
                    <span class="title">{{exercise.title}}</span>
                </a>
                <p><img class="pull-left" src="/static/img/tag.png" width="20px"/>
                {% for tag in tags %}
                    <a class="tags" href="/searchByTag/{{tag}}">{{tag}}</a>
                {% endfor %}
                </p>
            </li>
            {% endfor %}
        </ul>

    </div>


</div>

{% endblock body %}


{% block javascript %}
<script src="/static/js/search.js"></script>
{% endblock %}
