{% extends "base.html" %}

{% block style %}
<link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="container">
    <p>
        Dummy login / pwd:
        <ul>
            <li>dummy@insa-lyon.fr</li>
            <li>123456</li>
        </ul>
    </p>

    <p>
        For an editor (teacher) account:
        <ul>
            <li>editor@insa-lyon.fr</li>
            <li>123456</li>
        </ul>
    </p>

    {%if error%}
        <div class="alert alert-danger">
            Wrong email or password !
        </div>
    {%endif%}

    <form action="/login" method="post" autocomplete="on">

        <div class="form-group">
            <label for="email-input">Email address</label>
            <input type="text" class="form-control" name="email" value="{{email}}" />
        </div>

        <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" name="password" />
        </div>

        <input class="form-control" type="submit" value="Login" />
    </form>


</div>

{% endblock body %}


{% block javascript %}
{% endblock %}
