{% extends "base.html" %}

{% block style %}
<link href="/static/css/editor.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include "header.html" %}
<div class="container">

    <h1>Profile: <small>{{user.username}}</small></h1>

    <ul class="list-group">

        <li class="list-group-item">
            <strong>
                <span class="glyphicon glyphicon-th-list cool-blue"></span> Current rank :
            </strong>

            {{rank}}
        </li>

        <li class="list-group-item">
            <strong>
                <span class="glyphicon glyphicon-certificate cool-green"></span> Current score :
            </strong>

            {{user.score}}
        </li>


        <li class="list-group-item">
            <strong>
                <span class="glyphicon glyphicon-star-empty cool-yellow"></span> Exercises tried :
            </strong>

            {{exercises_tried}}/{{total_exercises}}
        </li>

        <li class="list-group-item">
            <strong>
                <span class="glyphicon glyphicon-star cool-yellow"></span> Exercises completed :
            </strong>

            {{exercises_completed}}/{{exercises_tried}}
        </li>

    </ul>


    <div class="container">

        <div id="progress-chart">

    </div>

</div>

{% endblock body %}


{% block javascript %}
<script src="/static/js/xcharts.min.js" type="text/javascript"></script>

<script src="/static/js/profile.js" type="text/javascript"></script>
{% endblock %}