{% extends "base.html" %}

{% block style %}
<link href="/static/css/login.css" rel="stylesheet" />
{% endblock %}

{% block body %}

{% include "header.html" %}


    <div class="container">

        <div class="loginbox mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Sign up</div>
                </div>

                <div class="panel-body" >

                    {% for f, e in error.iteritems() %}
                         <div class="alert alert-danger col-sm-12">
                            {{e}}
                        </div>
                    {% endfor %}

                    <div class="alert alert-info">Signups are restricted to users possessing "{{config.email_domain}}" emails</div>

                    <form class="form-horizontal loginform" action="/signup" method="post" role="form" autocomplete="off">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input type="email" class="form-control" name="email" value="{{email}}" placeholder="E-mail" required/>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input type="text" class="form-control" name="username" value="{{username}}" placeholder="Username" required/>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                            <input type="password" class="form-control"  name="password" placeholder="Password" required/>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                            <input type="password" class="form-control" name="passwordCtrl" placeholder="Confirm your password" required/>
                        </div>



                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                              <button id="btn-login" class="btn btn-success" type="submit">Sign-up to elif</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                    Already have an account?
                                <a href="/login">
                                    Login
                                </a>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>


    </div>


{% endblock body %}


{% block javascript %}
<script src="static/js/signup.js" type="text/javascript"></script>
{% endblock %}
