{% extends "base.html" %}

{% block style %}
<link href="/static/css/editor.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="jumbotron">
  <form action="/sign" method="post" autocomplete="on">

        <div class="form-group">
            <label for="email-input">Email address</label>
            <input type="text" class="form-control" name="email" value="{{email}}" />
        </div>

        <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" name="password" />
        </div>

        <div class="form-group">
            <label for="password-input">Confirm your password</label>
            <input type="password" class="form-control" name="passwordCtrl" />
        </div>

        <input class="form-control" type="submit" value="Sign in" />
    </form>
</div>

{% endblock body %}


{% block javascript %}
{% endblock %}
