{% extends "base.html" %}

{% block style %}
<link href="/static/css/editor.css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="jumbotron">
	<div class="container">
  		<h1>Welcome on elif!</h1>
  		<p>...</p>
  		<p class="pull-right">
    		<a href="/sign" class="btn btn-primary btn-lg" role="button">
    			<span class="glyphicon glyphicon-pencil"></span> Sign up</a>
  			<a href="/login" class="btn btn-primary btn-lg" role="button">
  				<span class="glyphicon glyphicon-user"></span> Login</a>
  		</p>
  	</div>
</div>

{% endblock body %}


{% block javascript %}
{% endblock %}
