/* Code input */
.code-area {
  height: 70%;
}

.btn-submit {
  color: #FFF;
  background: #32477E;
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-submit:hover, .btn-submit:focus, .btn-submit:active {
  color: #FFF;
  background: #2350C8;
}


/* Exercise description */
/*
.exercise .description::before {
  content: "Description";
  color: #AAA;
  display: block;
  margin: 7px 5px;
  font-weight: bold;
}
*/
.exercise .description img {
  display: block;
  width: 80%;
  margin: 0 auto;


  /* Image thumbnail */
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Compilation / Execution output */
.output {
  margin: 5px;
}

.tests-output {
  font-family: "Ubuntu Mono", monospace;
  padding: 0;
  list-style: none;
}

.output .alert {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.output .label-danger {
  background: #C01B3A;
  border: 1px solid #881C30;
  color: #FCEDF0;
}

.output .label-success {
  background: #5cb85c;
  border: 1px solid #2ecc71;
  color: #EDFCEE;
}

/* Tests */

#test-form {
    padding: 10px;
    margin-top: 5px;
}

.tests ul {
    list-style: none;
    padding: 2px;
}

.tests-list li .heading {
	background-color: rgba(39, 174, 96, 1);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
	padding: 10px;

	color: #FFF;
	border-bottom: none;

    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}

.tests-list li .heading .glyphicon {
    float: right;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	color: #FFF;
	margin: 0 3px;
}

.details {
    display: none;
}

.test-io {
  max-height: 200px;
  overflow-y: auto;
}
