/* Code input */
.code-area {
  height: 80%;
}

.btn-submit {
  color: #FFF;
  background: #32477E;
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.2);
}

.btn-submit:hover, .btn-submit:focus, .btn-submit:active {
  color: #FFF;
  background: #2350C8;
}

/* Exercise description */
/*
.exercise .description::before {
  content: "Description";
  color: #AAA;
  display: block;
  margin: 7px 5px;
  font-weight: bold;
}
*/
.exercise .description img {
  display: block;
  width: 80%;
  margin: 0 auto;


  /* Image thumbnail */
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Compilation / Execution output */
.output {
  margin: 5px;
}

.tests {
  font-family: "Ubuntu Mono", monospace;
  padding: 0;
  list-style: none;
}

.output .alert {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.output .label-danger {
  background: #C01B3A;
  border: 1px solid #881C30;
  color: #FCEDF0;
}

.output .label-success {
  background: #5cb85c;
  border: 1px solid #2ecc71;
  color: #EDFCEE;
}
